firewall {
    name LAN-to-MGMT {
        default-action drop
        enable-default-log
        rule 1 {
            action accept
            state {
                established enable
            }
        }
        rule 10 {
            action accept
            description "Allow log01 access"
            destination {
                address 172.16.200.10
                port 1514
            }
            protocol udp
        }
        rule 15 {
            action accept
            description "Allow ICMP to log01"
            destination {
                address 172.16.200.10
            }
            protocol icmp
        }
        rule 20 {
            action accept
            description "Allow connections to MGMT01"
            destination {
                address 172.16.200.11
            }
            source {
                address 172.16.150.50-172.16.150.100
            }
        }
        rule 25 {
            action accept
            description "RDP to mgmt"
            destination {
                address 172.16.200.11
                port 3389
            }
            protocol tcp
        }
    }
    name MGMT-to-LAN {
        default-action accept
    }
}
interfaces {
    ethernet eth0 {
        address 172.16.150.3/24
        description SEC350-LAN
        hw-id 00:50:56:b3:c5:21
    }
    ethernet eth1 {
        address 172.16.200.2/28
        description SEC350-MGMT
        hw-id 00:50:56:b3:c4:b9
    }
    loopback lo {
    }
}
protocols {
    rip {
        interface eth0 {
        }
        network 172.16.200.0/28
    }
    static {
        route 0.0.0.0/0 {
            next-hop 172.16.150.2 {
            }
        }
    }
}
service {
    dns {
        forwarding {
            allow-from 172.16.200.0/28
            listen-address 172.16.200.2
            system
        }
    }
    ssh {
        listen-address 0.0.0.0
    }
}
system {
    config-management {
        commit-revisions 100
    }
    conntrack {
        modules {
            ftp
            h323
            nfs
            pptp
            sip
            sqlnet
            tftp
        }
    }
    console {
        device ttyS0 {
            speed 115200
        }
    }
    host-name fw-mgmt-eli
    login {
        user eli {
            authentication {
                encrypted-password ----------------------------------------------------------------------------------------------------------
                public-keys eli@mgmt01 {
                    key AAAAC3NzaC1lZDI1NTE5AAAAIHpbLiCucJHiZqyQfXMmaFBPiB6gHusWVSmsbrmQBI0R
                    type ssh-ed25519
                }
            }
        }
    }
    name-server 172.16.150.2
    ntp {
        server time1.vyos.net {
        }
        server time2.vyos.net {
        }
        server time3.vyos.net {
        }
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
        host 172.16.200.10 {
            facility kern {
                level debug
            }
            format {
                octet-counted
            }
            port 1514
        }
    }
}
zone-policy {
    zone LAN {
        from MGMT {
            firewall {
                name MGMT-to-LAN
            }
        }
        interface eth0
    }
    zone MGMT {
        from LAN {
            firewall {
                name LAN-to-MGMT
            }
        }
        interface eth1
    }
}


// Warning: Do not remove the following line.
// vyos-config-version: "bgp@2:broadcast-relay@1:cluster@1:config-management@1:conntrack@3:conntrack-sync@2:dhcp-relay@2:dhcp-server@6:dhcpv6-server@1:dns-forwarding@3:firewall@7:flow-accounting@1:https@3:interfaces@25:ipoe-server@1:ipsec@8:isis@1:l2tp@4:lldp@1:mdns@1:nat@5:nat66@1:ntp@1:openconnect@1:ospf@1:policy@2:pppoe-server@5:pptp@2:qos@1:quagga@9:rpki@1:salt@1:snmp@2:ssh@2:sstp@4:system@22:vrf@3:vrrp@3:vyos-accel-ppp@2:wanloadbalance@3:webproxy@2"
// Release version: 1.4-rolling-202202070959
